{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}

{% block body %}

   
<!-- Post -->
              <section class="post">
                <header class="major">
                  <span class="date">{{ object.timestamp }}</span>
                  <h1>{{ object.title }}</h1>
                  <h4> By- {{ object.by }}</h4>
                </header>
                <div class="image main"><img src="{{ object.pic.url }}" alt=""  style=" height:700px;"/></div>
                <p>{{ object.description }} </p>
              </section>

          <h2>Leave a Comment:</h2>
          <form method="post" action="{% url 'home:detailview' object.id %}" class="alt">
              <div class="row uniform">
                 {% csrf_token %}
                <div class="12u$">
                  <textarea name = "again" id="demo-message" placeholder="Write here.." rows="6"></textarea>
                </div>
              </div>
              <div class="12u$">
                        <ul class="actions">
                          <li><input type="submit" value="Comment" class="special" style = "margin-top:10px;" /></li>
                        </ul>
                      </div>
          </form>
          <br><br>
          <h2>Comments:</h2>
        {% for comments in all_comments %}  
          <p><strong>{{ user.profile.username}}</strong><br> {{comments.time}}<br>
            {{ comments.name }}
          </p>
          <br>
        {% endfor %}
{% endblock %}





