{% extends 'base.html' %}
{% block active_home %} active {% endblock %}

{% block body %}
            <!-- Posts -->
              <section class="posts">
                {% for post in object_list %}
                {% if post.id > 1 %}
                <article>
                  <header>
                    <span class="date">{{ post.timestamp }}</span>
                    <h2><a href="{% url 'home:detailview' post.id %}">{{ post.title}}</a></h2>
                  </header>
                  <a href="{% url 'home:detailview' post.id %}" class="image fit"><img src="{{ post.pic.url }}" style="height:300px;" alt="" /></a>
                  <p>{{ post.description|truncatechars:250 }}</p>
                  <ul class="actions">
                    <li><a href="{% url 'home:detailview' post.id %}" class="button">Full Story</a></li>
                  </ul>
                </article>
                {% endif %}
                {% endfor %}
              </section>
{% endblock %}

















