{% extends 'base2.html' %}
 <!-- <form role="form" action = "{% url 'home:user_form_view' %}" method="POST"> -->
          <!-- {% csrf_token %} -->
<!-- {{ form.as_p}} -->
        <!-- <button type="submit" class="btn btn-success">Submit</button> -->
        <!-- </form> -->

{% block body %}
<div class="row" >
  <div class="col-md-6">
	<form method="post" action="{% url 'home:user_form_view' %}" name="action" class="alt" style="padding-top: 10px; width:600px;">
		<div class="row uniform">
			<div class="6u 12u$(xsmall)">
					{% csrf_token %}
				{{form1.as_p}}
			<ul class="actions">
				<li style="padding-left:0px;"><button type="submit" class="button special">Sign Up</button></li>
			</ul>
			</div>
		</div>
	</form>
  </div>
  <div class="col-md-6"> 
  	<form method="post" action="{% url 'home:loginkrdo' %}" class="alt" style="padding-top: 10px; width:600px;">
		<div class="row uniform">
			<div class="6u 12u$(xsmall)">
				{% csrf_token %}
				{{form2.as_p}}
			<ul class="actions">
				<li><button type="submit" class="button special">Login</button></li>
			</ul>
			</div>
		</div>

	</form>
</div>
</div>
<style>
	#signup{
	  width: 400px;
	  height:700px;
    float: left;

	}
	#login{
 width: 400px;
 height:700px;
    float: left;


	}
</style>
	{% endblock %}