{% extends 'base.html' %}
{% block title %}Family{% endblock %}
{% block active_family %} active {% endblock %}

{% block body %}
<div id="main">

									<h2>My Brothers,Sister and Brother-in-law</h2>
									{% load static %}
									<span class="image fit"><img src="{% static 'media/images/shaadi1.jpg' %}" alt="" /></span>
									<div class="box">
										<blockquote> The Love of a Family is Life's Greatest Blessing.</blockquote>
										<p> From right,<br>
											<strong>My Big Bro </strong> - Nitish<br> 
											<strong>My Packaging Bro </strong> - Annu<br>
											<strong>My Fat Bro </strong> - Hunny Bhaiya<br>
											and the beautiful Couple in the Centre-
											<strong>Geetika Di and JiJu</strong>
											</p>
									</div>
									<hr />
</div>
								
{% endblock %}