{% extends 'base.html' %}
{% block body %}
<h1> {{ user.profile.bio}}</h1>
      <style>
        *{
          color: white;
        }
      </style>
      <div class="main-content"  align="center" style=" color: white;">
      <h2>{{ object.title}}</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by {{ object.by }},{{ object.timestamp }}.</h5>
      <h5><span class="label label-danger">{{ object.category }}</span></h5>
      <p>{{ object.description }}</p>
      <br><br>
    </div>



      <div class="container-fluid">
          <h4>Leave a Comment:</h4>
          <p><span class="badge">2</span> Comments:</p><br>
        
      <div class="row">
        <div class="col-md-12 text-center">
        <form role="form" action = "{% url 'home:detailview' object.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" name = "again" rows="5" required>
            </textarea>
          </div>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <br><br>
      </div>
       
       {% for comments in all_comments %}
        <div class="col-sm-10">
          <h4><small></small></h4>
          <p>
            {{ comments.name }}
          </p>
          <br>
        </div>
        {% endfor %}
    
          </div>
        </div>
      </div>
      </div>
{% endblock %}